* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

.name {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
}

.photo1 {
    border-radius: 10%/50%;
    width:75%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo2 {
    width: 25%;
}

#boba-fett{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    
}

body {
    background: linear-gradient(rgb(255, 0, 0), rgba(255, 251, 0, 0.904))
}

.height{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;
}

.age {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;

}

.ship {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;

}

.home {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;


}
#list {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;

}